<div class="container">
  <h2>Gestión de Pokémon</h2>

  <form [formGroup]="pokemonForm" (ngSubmit)="editMode ? updatePokemon() : addPokemon()">
    <input type="text" formControlName="name" placeholder="Nombre del Pokémon" required>
    <input type="float" formControlName="height" placeholder="Altura (m)" required min="1">
    <input type="number" formControlName="weight" placeholder="Peso (kg)" required min="1">
    <input type="text" formControlName="abilities" placeholder="Habilidades (separadas por comas)" required>
    <input type="url" formControlName="image" placeholder="URL de imagen" required>
    <textarea formControlName="description" placeholder="Descripción" required></textarea>

    <button type="submit">{{ editMode ? 'Actualizar' : 'Agregar' }}</button>
  </form>

  <div class="pokemon-grid">
    <div class="pokemon-card" *ngFor="let pokemon of pokemons; let i = index">
      <img [src]="pokemon.image" [alt]="pokemon.name">
      <h3>{{ pokemon.name }}</h3>
      <p>Altura: {{ pokemon.height/10}} m</p>
      <p>Peso: {{ pokemon.weight/10}} kg</p>
      <p>Habilidades: {{ pokemon.abilities.join(', ') }}</p>
      <p>Descripción: {{ pokemon.description }}</p>

      <button (click)="editPokemon(i)">Editar</button>
      <button (click)="deletePokemon(i)">Eliminar</button>
    </div>
  </div>
</div>

  