<div *ngIf="!pokemon">
    <p>Cargando detalles del Pokémon...</p>
  </div>
  
  <div class="pokemon-detail-container" *ngIf="pokemon">
    <div class="pokemon-card">
      <h1 class="pokemon-name">{{ pokemon.name | uppercase }}</h1>
      <img class="pokemon-image" [src]="pokemon.sprites?.front_default || pokemon.image" [alt]="pokemon.name">
      <div class="pokemon-info">
        <p><strong>Altura:</strong> {{ pokemon.height/ 10}} m</p>
        <p><strong>Peso:</strong> {{ pokemon.weight / 10 }} kg</p>
        <p><strong>Habilidades:</strong></p>
        <ul>
          <li *ngFor="let ability of (pokemon.abilities || [])">
            {{ (ability.ability?.name || ability || 'Habilidad desconocida') | titlecase }}
          </li>
        </ul>               
        <div class="pokemon-description" *ngIf="description||pokemon.description">
          <p><strong>Descripción: </strong>{{ description || pokemon.description }}</p>
        </div>
      </div>
      <button (click)="back()" class="back-button" >Volver a la lista</button>
    </div>
  </div>
