@font-face {
  font-family: 'PokemonSolid';
  src: url('assets/fonts/PokemonSolid.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'PokemonSolid', sans-serif;
}
